.root{
    -fx-font-size: 11pt;
}

.button-play{
    -fx-text-fill: #AC5223;
}

.button-tomato {
    -fx-background-color:#FF6347;
    -fx-text-fill: #FFFFFF;
}

.button-blue {
    -fx-background-color: #87CEFA;
    -fx-text-fill: #FFFFFF;
}
